<section class="home">

    <header>
        <ul class="bread" ng-show="homeCtrl.article_begin && homeCtrl.article_target">
            <li ng-repeat="breadcrumb in homeCtrl.breadcrumb">
                <span ng-bind="breadcrumb"></span>
            </li>
        </ul>
        <div class="target" ng-show="homeCtrl.article_begin && homeCtrl.article_target">
			<span ng-bind="homeCtrl.article_target"></span>
			<a href="https://es.wikipedia.org/wiki/{{ homeCtrl.article_target }}" target="_blank">
				<i class="fa fa-external-link"></i>
			</a>
		</div>
        <div class="steps" ng-show="homeCtrl.article_begin && homeCtrl.article_target">
			<span ng-bind="homeCtrl.breadcrumb.length-1"></span>
		</div>
    </header>

    <content id="content">
	
        <div class="container game" ng-show="homeCtrl.article_begin && homeCtrl.article_target">
            <h1 id="firstHeading" class="firstHeading" ng-bind="homeCtrl.actualPageTitle"></h1>
            <div ng-bind-html="homeCtrl.actualPageContent"></div>
        </div>
		
        <div class="container home" style="margin-top: 100px;" ng-show="!homeCtrl.article_begin && !homeCtrl.article_target">
			<form name="form">
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<ui-select ng-model="homeCtrl.input_begin" ng-required="true" theme="bootstrap">
								<ui-select-match allow-clear="true" placeholder="Source">
									<span ng-bind="$select.selected"></span>
								</ui-select-match>
								<ui-select-choices repeat="article in (homeCtrl.searcharticles_begin | filter: $select.search)" refresh="homeCtrl.search($select.search, 'input_begin')" refresh-delay="500">
									<span ng-bind="article"></span>
								</ui-select-choices>
							</ui-select>
							<span class="input-group-btn">
								<button type="button" class="btn btn-lg btn-default" ng-click="homeCtrl.random('input_begin')">
									<i class="fa fa-random"></i>
								</button>
							</span>
						</div>
					</div>
					<div class="col-md-12" style="margin-top: 25px;">
						<div class="input-group">
							<ui-select ng-model="homeCtrl.input_target" ng-required="true">
								<ui-select-match allow-clear="true" placeholder="Target">
									<span ng-bind="$select.selected"></span>
								</ui-select-match>
								<ui-select-choices repeat="article in (homeCtrl.searcharticles_target | filter: $select.search)" refresh="homeCtrl.search($select.search, 'input_target')" refresh-delay="500">
									<span ng-bind="article"></span>
								</ui-select-choices>
							</ui-select>
							<span class="input-group-btn">
								<button type="button" class="btn btn-lg btn-default" ng-click="homeCtrl.random('input_target')">
									<i class="fa fa-random"></i>
								</button>
							</span>
						</div>
					</div>
					<div class="col-md-12" style="margin-top: 50px;">
						<button type="button" class="btn btn-lg btn-block btn-success" ng-click="homeCtrl.begin()" ng-disabled="form.$invalid">
							Start!
						</button>
					</div>
				</div>
			</form>
        </div>
		
    </content>

	<script type="text/ng-template" id="success">
		<h1 class="text-center">Success!</h1>
		<p class="text-center">Congratulations</p>
		<p class="text-center" ng-bind="dialogCtrl.breadcrumb.length-1"></p>
	</script>

</section>