@import "https://fonts.googleapis.com/css?family=Google Sans:300,400,700,900"; /* MAIN */
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Google Sans', arial, sans-serif;
}
/* HOME */
section.home {
    min-height: 100vh;
}
section.home header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: #333333;
    color: #FFFFFF;
}
section.home header div.bread {
    text-align: center;
    font-size: 18px;
	margin: 37px 0;
}
section.home header div.bread span {
    display: inline;
}
section.home header div.bread span+span:before {
    content: " > ";
	margin: 0 15px;
}
section.home header div.bread a {
    color: #FFFFFF;
	font-size: 14px;
	margin-left: 5px;
}
section.home header .steps {
    position: fixed;
    right: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E67E22;
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
}
section.home content {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    padding-top: 100px;
}
section.home content .ui-select-bootstrap .ui-select-toggle > .caret {
	display: none;
}
section.home content .ui-select-bootstrap > .ui-select-match > .btn,
section.home content .ui-select-bootstrap > .ui-select-search {
    cursor: text;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px 0 0 6px !important;
}
section.home content .ui-select-bootstrap > .ui-select-match > .btn > .ui-select-placeholder {
    color: #999;
}
section.home content .ui-select-bootstrap > .ui-select-match > .btn:hover,
section.home content .ui-select-bootstrap > .ui-select-match > .btn:active,
section.home content .ui-select-bootstrap > .ui-select-match > .btn:focus {
    color: #333;
	background-color: #FFF;
	border-color: #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
section.home content .ui-select-bootstrap > .ui-select-match > .btn:focus {
    border-color: #66AfE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
section.home content .ui-select-bootstrap .ui-select-toggle > a.btn {
    position: absolute;
    height: 20px;
    right: 10px;
    font-size: 20px;
    padding: 0;
    margin: -2px 0px 0px 0px !important;
	color: #000;
}
section.home content .ui-select-bootstrap .ui-select-choices-row > span {
    padding: 3px 20px;
    font-size: 18px;
}
section.home content .ui-select-bootstrap .ui-select-choices-row.active > span {
    background-color: #333;
}
section.home content h1#firstHeading {
	border-bottom: 1px solid #333;
}